.card.shadow.bg-dark.text-light
  .card-header
    %b= link_to "Draw № #{roulette.id}", roulette_path(roulette)
  .card-body
    .progress
      .progress-bar.bg-success{style: "width: #{roulette.percent_left}%"}= number_to_percentage(roulette.percent_left, precision: 2)
    Pool:
    %b= roulette.shares_total
    %br
    Shares taken:
    = roulette.shares_taken
    %br
    Shares available:
    %b= roulette.shares_available
  .card-footer
    - unless roulette.shares_available.zero?
      = link_to "Bet $1", new_roulette_bet_path(roulette, size: 1), class: "btn btn-sm btn-success"
      = link_to "Bet $2", new_roulette_bet_path(roulette, size: 2), class: "btn btn-sm btn-success"
      = link_to "Custom amount", new_roulette_bet_path(roulette), class: "btn btn-sm btn-success"
    - else
      Finished