.card.shadow.bg-dark.text-light
  .card-header
    %b= link_to "Game № #{roulette.id}", roulette_path(roulette)
  .card-footer
    .text-center
      %h1
        win
        %b= roulette.shares_total
        credits
    %br
    .progress
      .progress-bar.bg-success{style: "width: #{roulette.percent_left}%"}
        %b= roulette.shares_taken
      .progress-bar.bg-danger{style: "width: #{100 - roulette.percent_left}%"}
        %b= roulette.shares_available
  - if Bet.where(user: current_user, roulette: roulette).any?
    .card-footer
      Your current bet:
      = current_user.bets.where(roulette: roulette).map(&:size).sum
      %br
      Win chance:
      #{current_user.bets.where(roulette: roulette).map(&:size).sum}/#{roulette.shares_total}

  .card-footer
    - if roulette.active?
      = link_to new_roulette_bet_path(roulette, size: 1), class: "btn btn-md btn-success btn-block" do
        Bet #{pluralize(1, 'credit')} 
        %br
        %small
          (win chance: 1/#{roulette.shares_total})
      = link_to new_roulette_bet_path(roulette, size: roulette.shares_available/2), class: "btn btn-md btn-success btn-block" do
        Bet #{pluralize(roulette.shares_available/2, 'credit')} 
        %br
        %small
          (win chance: #{roulette.shares_available/2}/#{roulette.shares_total})
      = link_to new_roulette_bet_path(roulette, size: roulette.shares_available), class: "btn btn-md btn-success btn-block" do
        Bet #{pluralize(roulette.shares_available, 'credit')} 
        %br
        %small
          (win chance: #{roulette.shares_available}/#{roulette.shares_total})
      = link_to new_roulette_bet_path(roulette), class: "btn btn-md btn-success btn-block" do
        Custom bet
    - else
      Winner:
      - if roulette.user.present?
        = link_to roulette.user, user_path(roulette.user)



