= form_with(model: piggy_bank, local: true) do |f|
  - if piggy_bank.errors.any?
    #error_explanation
      %h2
        = pluralize(piggy_bank.errors.count, "error")
        prohibited this piggy_bank from being saved:
      %ul
        - piggy_bank.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :pool
    = f.number_field :pool
  .actions
    = f.button :submit, class: "btn btn-sm btn-success"
