%p#notice= notice
%h1 Piggy Banks
%table
  %thead
    %tr
      %th ID
      %th Pool
      %th shares_taken
      %th shares_available
  %tbody
    - @piggy_banks.each do |piggy_bank|
      %tr
        %td= link_to piggy_bank.id, piggy_bank
        %td= piggy_bank.pool
        %td= piggy_bank.shares_taken
        %td= piggy_bank.shares_available
%br/
= link_to 'New Piggy Bank', new_piggy_bank_path
