%h1 Piggy Banks

.card-columns
  - @piggy_banks.each do |piggy_bank|
    .card
      .card-header.bg-warning
        %b= link_to "Draw № #{piggy_bank.id}", piggy_bank
      .card-body
        Pool:
        %b= piggy_bank.pool
        /%br
        /Shares taken
        /= piggy_bank.shares_taken
        %br
        Shares available
        %b= piggy_bank.shares_available
      .card-footer
        = link_to "Buy Shares", new_share_path, class: "btn btn-sm btn-success"