.text-center
  %h2
    Bets:
    = @bets.count

.table-responsive
  %table.table.table-sm.table-striped.table-dark.shadow
    %thead
      %tr
        %th id
        %th Timestamp
        %th Weight
        %th User
  
    %tbody
      - @bets.each do |bet|
        %tr
          %td= bet.id
          %td= bet.created_at
          %td= bet.weight
          %td= bet.user
