.card.shadow
  .card-header
    %h2 Make a bet
  .card-body
    = simple_form_for([@roulette, @bet]) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        = f.input :size, autofocus: true
      .form-actions
        = f.button :submit, class: "btn btn-sm btn-success"
  .card-footer
    = link_to 'Cancel', roulette_path(@roulette), class: "btn btn-sm btn-secondary"
