.text-center
  %h2
    Leaderboard

.table-responsive
  %table.table.table-sm.table-striped.table-dark.shadow
    %thead
      %tr
        %th User
        %th Balance
        %th Top-up sum
        %th Top-up count
        %th Spent
        %th Games played
        %th Roulettes won
        %th Shares won
  
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.to_s, user_path(user)
          %td= user.balance
          %th= user.charges_sum
          %th= user.charges_count
          %th= user.bets_sum
          %th= user.bets_count
          %th= user.roulettes_count
          %th= user.shares_won
          %th

%br
