.card.shadow.bg-dark.text-light
  .card-header
    %b= link_to @user.email, user_path(@user)
  .card-body
    %b Balance:
    = @user.balance
    %br
    %b Charges sum:
    = @user.charges_sum
    %br
    %b Charges count:
    = @user.charges_count
    %br
    %b Shares sum:
    = @user.bets_sum
    %br
    %b Shares count:
    = @user.bets_count
    %br
    %b Amount Won:
    = @user.amount_won

%br
= render 'charges/charges'
%br
= render 'bets/bets'
%br
