.card.shadow.bg-dark.text-light
  .card-header
    %b= link_to @user.email, user_path(@user)
  .card-body
    %b Credits bought:
    = @user.charges_sum
    %br
    %b Credits Spent:
    = @user.bets_sum
    %br
    %b Credits won:
    = @user.shares_won
    %br
    %b Balance:
    = @user.balance
    %br
    %b Games played:
    = @user.bets_count
    %br
    %b Games won:
    = @user.roulettes_count
    %br
    %b Score:
    = @user.leader_score
  

%br
= render 'charges/charges'
%br
= render 'bets/bets'
%br
