%h1 Listing charges

%table
  %thead
    %tr
      %th User
      %th Amount
      %th
      %th
      %th

  %tbody
    - @charges.each do |charge|
      %tr
        %td= charge.user
        %td= charge.amount
        %td= link_to 'Show', charge
        %td= link_to 'Edit', edit_charge_path(charge)
        %td= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Charge', new_charge_path
