.card.shadow.bg-dark.text-light
  .card-header
    %h2 Buy credits
  .card-body
    = simple_form_for(@charge) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        = f.input :amount, autofocus: true
      .form-actions
        = f.button :submit, class: "btn btn-sm btn-success"