!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RandomRoulette
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    = link_to "Home", root_path
    - if current_user
      = link_to "Charges", charges_path
      = link_to "PiggyBanks", piggy_banks_path, class: "btn btn-sm btn-success"
      = link_to "Shares", shares_path
      .badge.badge-light
        = current_user.email
      .badge.badge-light
        Balance:
        = current_user.balance
      = link_to '+ Top up balance', new_charge_path, class: "btn btn-sm btn-success"

      = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-secondary"
    - else
      = link_to "Log in", new_user_session_path, class: "btn btn-sm btn-secondary"

    = yield
