!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title RandomRoulette
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body.bg-dark
    - if notice.present?
      .container-fluid.bg-success
        %p.notice= notice
    - if alert.present?
      .container-fluid.bg-warning
        %p.alert= alert
    %br
    .container.bg-purple.rounded
      %br
      .text-center
        = link_to root_path, class: "text-dark" do
          %h1 RandomRoulette
        - if current_user
          %h3
            .badge.badge-warning
              %b 
                Balance:
                = current_user.balance
                credits
          %p
          = link_to "Roulettes", active_roulettes_path, class: "btn btn-sm btn-success"
          = link_to 'Buy credits', new_charge_path, class: "btn btn-sm btn-success"
          = link_to "Leaderboard", users_path, class: "btn btn-sm btn-primary"
          = link_to current_user.email, user_path(current_user), class: "btn btn-sm btn-secondary"
          = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-secondary"
      %hr
      = yield
      %br
  %footer
    .container.text-light.text-center
      = link_to "Source code", "https://github.com/yshmarov/random_roulette", target: :_blank, class: "text-info"
      %br
      = link_to "My Ruby on Rails blog", "https://blog.corsego.com/", target: :_blank, class: "text-info"
      %br
      = link_to "Ruby on Rails 6 Course: Learn 25+ gems and build a Startup MVP 2020", "https://www.udemy.com/course/2519558/?referralCode=4721E9D437DEE1734159/", target: :_blank, class: "text-info"
      %br
      = link_to "Ruby on Rails 6 Course: Learn to Build a B2B SaaS Multitenancy MVP 2020", "https://gumroad.com/l/lHKxjT", target: :_blank, class: "text-info"
      %br
      = link_to "You can also follow me on Twitter", "https://twitter.com/yaro_the_slav/", target: :_blank, class: "text-info"
