!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title RandomRoulette
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body.bg-dark
    - if notice.present?
      .container-fluid.bg-success
        %p.notice= notice
    - if alert.present?
      .container-fluid.bg-warning
        %p.alert= alert
    %br
    .container.bg-purple.rounded
      %br
      .text-center
        = link_to root_path, class: "text-dark" do
          %h1 
            .fa.fa-dice
            RandomRoulette
        - if current_user
          %h3
            .badge.badge-warning
              %b 
                Balance:
                = current_user.balance
                credits
          %p
          = link_to "Roulettes", active_roulettes_path, class: "btn btn-sm btn-success"
          = link_to 'Buy credits', new_charge_path, class: "btn btn-sm btn-success"
          = link_to "Leaderboard", users_path, class: "btn btn-sm btn-primary"
          = link_to current_user.email, user_path(current_user), class: "btn btn-sm btn-secondary"
          = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-secondary"
      %hr
      = yield
      %br
  %footer
    .container.text-light.text-center
      Rules:
      %li Buy credits. (No payment provider is currently connected)
      %li Make a bet for up to 50% shares of a roulette.
      %li The more shares you buy, the higher chance of victory.
      %li When a roulette is 100% filled, a random winner will get all the prize.
      %li Potential business model: fee for transfering credits OUT of the game.
      %hr
      = link_to "https://github.com/yshmarov/random_roulette", target: :_blank, class: "text-info" do 
        .fab.fa-github
        Source code
      %br
      = link_to "https://blog.corsego.com/", target: :_blank, class: "text-info" do
        .fab.fa-blogger
        My Ruby on Rails blog
      %br
      = link_to "https://www.udemy.com/course/2519558/?referralCode=4721E9D437DEE1734159/", target: :_blank, class: "text-info" do
        .fa.fa-book
        Ruby on Rails 6 Course: Learn 25+ gems and build a Startup MVP 2020
      %br
      = link_to "https://gumroad.com/l/lHKxjT", target: :_blank, class: "text-info" do
        .fa.fa-book
        Ruby on Rails 6 Course: Learn to Build a B2B SaaS Multitenancy MVP 2020
      %br
      = link_to "https://twitter.com/yaro_the_slav/", target: :_blank, class: "text-info" do
        .fab.fa-twitter
        You can also follow me on Twitter
